PICOM_VERIFY_BIND_HOST=127.0.0.1
PICOM_VERIFY_PORT=8787
PICOM_VERIFY_SHARED_SECRET=<generate-with-openssl-rand-hex-32>
ASTERISK_ARI_URL=http://127.0.0.1:8088/ari/
ASTERISK_ARI_USERNAME=picom_verify
ASTERISK_ARI_PASSWORD=<generate-a-separate-strong-password>
ASTERISK_OUTBOUND_ENDPOINT=carrier
ASTERISK_CALLER_ID=Picom