PICOM_SMS_GATEWAY_HOST=127.0.0.1
PICOM_SMS_GATEWAY_PORT=8788
PICOM_SMS_GATEWAY_SHARED_SECRET=replace-with-an-independent-random-secret-of-at-least-32-characters
KANNEL_SEND_URL=http://127.0.0.1:13013/cgi-bin/sendsms
KANNEL_USERNAME=picom-gateway
KANNEL_PASSWORD=replace-with-an-independent-kannel-password
KANNEL_FROM=Picom